.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .loader img {
    height: 320px;
  }
}
